{{#if isAuthenticated}}
<h2 class='text-center'>Welcome to <span class='lobster'>Glumon!</span> {{user}}</h2>
{{else}}
<h4 class='text-center'><span class='lobster'>Glumon</span> is a hospital administration base application that helps you track patient glucose levels under their specific doctors.</h4>
{{/if}}
