<h2 class='text-center'>Doctors</h2>
{{#if model}}
<div class='list-display'>
<ol>
{{#each model as |doctor|}}
  {{single-doctor doctor=doctor deleteDoctor='deleteDoctor' toggleEditing='toggleEditing' updateDoctor='updateDoctor'}}
<br>
{{/each}}
</ol>
</div>
<div class='line-break'></div>
<br>
{{#link-to 'doctors.create-doctor' tagName='button' class='btn btn-light'}}Add Doctor{{/link-to}}
<br>
<br>
{{outlet}}
{{else}}
<h2>There are no doctors.</h2>
{{#link-to 'doctors.create-doctor' tagName='button'}}Add Doctor{{/link-to}}
<br>
<br>
{{outlet}}
{{/if}}
